<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    style 
     include ../static/readevent.css 
</head>
<body>
    <form action="/read" method="post">
    <div>
        <label for="regno" style="margin-right:30px;">Employee Id</label>
        <input type="text" name="regno" id="regno" value="#{employee.regno}">
    </div>
    <div>
        <br>
        <button>Submit</button>
    </div>
    </form>
    <table>
        <tr>
            <th>Employee Name</th>
            <th>regno</th>
            <th>Company</th>
            <th>Role</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Experience</th>
        </tr>
        <tr>
            <td>#{employee.name}</td>
            <td>#{employee.regno}</td>
            <td>#{employee.company}</td>
            <td>#{employee.role}</td>
            <td>#{employee.email}</td>
            <td>#{employee.salary}</td>
            <td>#{employee.experience}</td>
        </tr>
    </table>
    <a href="/"><button id="logout">Log Out</button></a>
</body>
</html>